.securechance-container {
  max-width: 100%;
  margin: 0px 64px 102px 64px;
  border-radius: 20px;
  background: linear-gradient(114deg, #051238 0%, #0e339e 162.75%);
}
.securechance-section {
  padding: 80px 64px;
}
.securechance-section .title h3 {
  width: 50%;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: -2px;
  margin: 0px auto;
  padding-bottom: 34px;
}
.securechance-section .title p {
  width: 50%;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 24px */
  letter-spacing: 3px;
  margin: 0px auto;
  padding-bottom: 34px;
}
@media screen and (max-width: 1169px) {
  .securechance-container {
    margin: 0px 24px 50px 24px;
  }
  .securechance-section {
    padding: 20px 40px;
  }
  .securechance-section .title h3 {
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 40px */
    letter-spacing: 1px;
    margin: 0px auto;
    padding-bottom: 34px;
  }
  .securechance-section .title p {
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    margin: 0px auto;
    padding-bottom: 34px;
    letter-spacing: 1px;
  }
  .form-section {
    margin-bottom: 30px;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .form-section .hero__form {
    width: 80%;
    display: flex;

    justify-content: center;
    flex-direction: column;
  }
}
