.team-member-card {
  margin: 0px 20px;
  display: flex;
  margin-bottom: 20px;
  gap: 32px;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.image-container {
  width: 30%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  position: relative;
}

.info-container {
  width: 70%;
  padding: 20px;
}

.info-container h2 {
  color: #051238;
  font-family: "Manrope";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.288px;
  padding-bottom: 24px;
}

.info-container hr {
  margin-top: 69px;
  border: none;
  border-top: 1px solid #ccc;
}

.info-container p {
  margin: 0;
  width: 59%;
  color: rgba(5, 18, 56, 0.6);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.8px;
}
.info-container h4 {
  margin: 24px 0px;
  color: #051238;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: -0.4px;
}
.info-container h5 {
  margin-top: 24px;
  color: #051238;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 16px */
  letter-spacing: -0.6px;
}
/* img:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 4px;
  width: 100%;
  height: 100%;
  border-radius: 90px 30px;
  background: #0059ff;
} */
@media screen and (max-width: 1168px) {
  .team-member-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image-container {
    width: 100%;
  }
  .info-container h2 {
    color: #051238;
    font-family: "Manrope";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.288px;
    padding-bottom: 24px;
    text-align: center;
  }
  .info-container {
    width: 100%;
    overflow: hidden;
  }
  .info-container p {
    margin: 0px auto;
  }
  .info-container h5,
  .info-container h4 {
    text-align: center;
  }
}
