.button-green {
  border: none;
  width: auto;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
  background: #00ff94;
  color: #051238;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 18px */
  letter-spacing: -0.6px;
  transition: all 0.9s ease-in-out;
}
.button-green:hover {
  background-color: #fff;
}
@media screen and (max-width: 748px) {
  .button-green {
    color: #051238;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.6px;
  }
}
