.header-section {
  max-width: 100%;
  margin: 0;
  padding: 0px 64px;
  background: linear-gradient(110deg, #f5f5f5 0.1%, #fff 115.65%);
}
.header-section .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-section nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
}
.header-section .nav-items {
  display: flex;
  align-items: center;
}
.header-section .nav-items ul {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-section ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #051238;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  letter-spacing: -0.3px;
}
.nav-items {
  display: block;
}
.burger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-section {
    padding: 0px 20px;
  }
  .header-section .nav-items {
    display: none;
  }
  .burger-menu {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-end;
  }
  .burger-menu img {
    width: 40px;
    cursor: pointer;
  }
  .items.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .items.show li {
    margin-bottom: 10px;
  }
}
