.button-practice {
  width: 100%;
}
.button-practice button {
  display: flex;
  height: 36px;
  padding: 12px 33px 12px 24px;
  align-items: center;
  display: flex;
  align-items: center;
  border-radius: 60px;
  background: #051238;
  color: #fff;
  text-align: center;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.298px;
  text-transform: uppercase;
}
