.information-sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.information-sliders .title-informationslider .title h3 {
  width: 80%;
  color: #051238;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  letter-spacing: -1.8px;
  margin: 0px auto;
}
.information-sliders .slider-wrapper {
  margin-top: 25px;
}
.information-sliders .slider-wrapper .custom-arrow {
  display: flex;
  margin-top: -80px;
}
