.slider-containermobile .slick-slide img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  pointer-events: none;
}
.slider-containermobile .custom-arrows1 {
  margin: 20px 0px;
}
