.footer-container {
  width: 100%;
  padding: 0;
  background: var(
    --gradient,
    linear-gradient(156deg, #051238 0%, #0e339e 192.36%)
  );
}
.footer-section {
  padding: 80px 64px;
  display: flex;
  justify-content: space-between;
}
.first-col-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.first-col-footer .logo-footer {
  width: 181.412px;
  height: 36px;
  margin-bottom: 32px;
}
.first-col-footer .firstp-footer {
  color: rgba(255, 255, 255, 0.8);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.8px;
  margin-bottom: 24px;
}
.second-col-footer {
  display: flex;
  gap: 90px;
}
.academies-footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 19px;
}
.academies-footer h4 {
  color: #fff;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 14px */
  letter-spacing: -0.3px;
}
.academies-footer p {
  width: 85%;
  color: rgba(255, 255, 255, 0.8);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  letter-spacing: -0.3px;
  transition: all 0.7s ease;
  cursor: pointer;
}
.academies-footer p:hover {
  color: #00ff94;
}
.socials-footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.socials-footer h4 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 14px */
  letter-spacing: -0.3px;
}
.media-social {
  display: flex;
  align-items: center;
  margin-right: 90px;
  gap: 8px;
}
.media-social img {
  width: 20px;
  height: 20px;
}
.media-social p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  letter-spacing: -0.3px;
}
@media screen and (max-width: 768px) {
  .footer-container {
    height: auto;
  }
  .footer-section {
    padding: 80px 64px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .second-col-footer {
    display: flex;
    flex-direction: column;
  }
}
