.recruiter-container {
  width: 100%;
  padding: 0;
}
.recruiter-section {
  padding: 0px 64px;
  display: flex;
  gap: 121px;
}
.recruiter-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recruiter-left img {
  display: flex;
  align-items: center;
  width: 550px;
  height: 550px;
}
.recruiter-right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recruiter-right h3 {
  width: 50%;
  padding: 32px 0px;
  color: #051238;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: -1.8px;
}
.recruiter-right p {
  color: rgba(5, 18, 56, 0.8);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.3px;
  padding-bottom: 18px;
}

.recruiter .rec {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 21px;
}

.rec h5 {
  color: rgba(5, 18, 56, 0.8);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.8px;
}
@media screen and (max-width: 1068px) {
  .recruiter-container {
    width: 100%;
  }
  .recruiter-section {
    padding: 0px 64px;
    display: flex;
    gap: 121px;
  }
  .recruiter-section {
    padding: 0px 44px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
  }
  .recruiter-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .recruiter-right {
    width: 100%;
  }
  .recruiter-right h3 {
    width: 100%;
  }
  .recruiter-left img {
    width: 340px;
    height: 340px;
  }
}
